.App {
  padding: 1rem;
  margin: 0 auto;
  max-width: 640px;
  font-family: sans-serif;
  background-color: #eee;
}

.App form .field {
  display: flex;
  margin-top: 1rem;
}

.App form .field label {
  display: inline-block;
  margin-right: 1rem;
  text-align: right;
  width: 150px;
}

.App form .field input:not([type="checkbox"]),
.App form .field select {
  width: 300px;
}

.App .buttons {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.App .buttons button {
  margin: 0 0.5rem;
}

.App .footer {
  display: flex;
}

.App .result {
  flex: 1;
  margin-top: 1rem;
}

.App .initial {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
}

.App .initial textarea {
  flex: 1;
  width: 100%;
}

.App .action-handlers input {
  width: 300px !important;
}

.App .dynamic h4 {
  margin: 0;
  text-align: center;
}

.App .dynamic {
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: #ccc;
}
